<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>/dev/null</string>
	<key>Label</key>
	<string>com.sophos.common.servicemanager</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Sophos Anti-Virus/SophosServiceManager.app/Contents/MacOS/SophosServiceManager</string>
	</array>
	<key>KeepAlive</key>
	<true/>
</dict>
</plist>
