<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.microsoft.SyncReporter</string>
	<key>Program</key>
	<string>/Applications/OneDrive.app/Contents/SyncReporter.app/Contents/MacOS/SyncReporter</string>
	<key>ProgramArguments</key>
	<array/>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>19</integer>
			<key>Minute</key>
			<integer>33</integer>
		</dict>
	</array>
</dict>
</plist>
